<footer class="footer bg-white b-t hidden-xs hidden-print">
    <div class="navbar-header nav-bar visible-sm">
      <a class="btn btn-link visible-sm" data-toggle="collapse" data-target="#footer-links"><i class="fa fa-bars"></i></a>
      <a href="#" class="nav-brand visible-sm" style="font-size: 20px">Couchbase</a>
    </div>
    <div id="footer-links" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">                
            <li><a href="http://www.couchbase.com/">couchbase.com</a></li>
            <li><a href="http://www.couchbase.com/download">download</a></li>
            <li><a href="#">resources</a></li>
            <li><a href="#">customers</a></li>
            <li><a href="#">subscriptions</a></li>
            <li><a href="#">events</a></li>
            <li><a href="#">white papers</a></li>
            <li><a href="#"><i class="fa fa-rss"></i>&nbsp;<span>RSS Feeds</span></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i>&nbsp;<span>Notifications</span></a></li>
        </ul>
    </div>
</footer>
  