<form class="navbar-form navbar-left m-t-sm visible-xs visible-lg" role="search" action="/results" method="get">
  <div class="form-group">
    <div class="input-group input-s">
      <input name="search_words" type="text" class="form-control input-sm no-border dk2 text-white" placeholder="Search">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-sm btn-primary btn-icon"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </div>
</form>