<ul class="nav navbar-nav navbar-right">
  <li class="visible-lg">
    <a href="#" class="dropdown-toggle dk" data-toggle="dropdown">
      <i class="fa fa-bell text-white"></i> 
      <span class="badge up bg-danger m-l-n-sm">2</span>
    </a>
    <section class="dropdown-menu animated fadeInUp input-s-lg">
      <section class="panel bg-white">
        <header class="panel-heading">
          <strong>You have <span class="count-n">2</span> notifications</strong>
        </header>
        <div class="list-group">
          <a href="#" class="media list-group-item">
            <span class="pull-left thumb-sm">
              <%= image_tag 'avatar.jpg', class: "img-circle", alt: "John Smith" %>
            </span>
            <span class="media-body block m-b-none">
              Use awesome animate.css<br>
              <small class="text-muted">28 Aug 13</small>
            </span>
          </a>
          <a href="#" class="media list-group-item">
            <span class="media-body block m-b-none">
              1.0 initial released<br>
              <small class="text-muted">27 Aug 13</small>
            </span>
          </a>
        </div>
        <footer class="panel-footer text-sm">
          <a href="#" class="pull-right"><i class="icon-cog"></i></a>
          <a href="/u/notifications">See all the notifications</a>
        </footer>
      </section>
    </section>
  </li>
  <% if session[:user].is_authenticated %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle dker" data-toggle="dropdown">
        <span class="thumb-sm avatar pull-right m-t-n-xs m-r-xs">
          <%= image_tag Gravatar.new(session[:user].email).image_url %> <b class="caret"></b>
        </span>
        <%= session[:user].full_name %>&nbsp;&nbsp;
      </a>
      <ul class="dropdown-menu animated fadeInUp">
        <li>
          <a href="/u/settings">Settings</a>
        </li>
        <li>
          <a href="/u/profile">Profile</a>
        </li>
        <li>
          <a href="/u/notifications">
            <span class="badge bg-danger pull-right">3</span>
            Notifications
          </a>
        </li>
        <li>
          <a href="/help">Help</a>
        </li>
        <li>
          <a id="signout-link" href="#">Logout</a>
        </li>
      </ul>
    </li>           
  <% else %>
    <li>
      <a id="signin-link" href="#" >
          <i class="fa fa-user text-white"></i>
          <span class="text-white">Sign In</span>
      </a>   
    </li>
  <% end %>
</ul>